= simple_form_for comment, url: post_comments_path(post, comment) do |f|
  = f.input :parent_id, as: :hidden
  = f.input :content, autofocus: true, label: false
  = f.button :submit, class: 'btn btn-primary'
