a.small.text-muted data-bs-toggle='collapse' href="#new_post_comment-#{comment.id}"
  .mb-2 = t('.link_text')
.collapse data-bs-target="new_post_comment-#{comment.id}" id="new_post_comment-#{comment.id}"
  = render 'posts/comments/comment_form', post: comment.post, comment: comment.children.new
